#pdpseoskuinfo .seoheader {clear:both; margin-left:5px; margin-right:5px; width:85; }
#pdpseoskuinfo p.header {font-size:10pt; font-weight:bold;}
#pdpseoskuinfo ul  {margin-bottom:15px;}
#pdpseoskuinfo ul li {list-style: disc outside none ;  margin-left: 15px;}
